.main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.heading {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
